# MONGODB & SECRETS
MONGODB_URI=
JWT_SECRET=

# PORTS
API_PORT=3001
DASHBOARD_PORT=3000

# ADMIN CREDENTIALS
ADMIN_USERNAME=admin
ADMIN_PASSWORD=Kontolodon12

# TELEGRAM BOT & URLS
BOT_TOKEN=
# Kosongkan jika pakai Main Mini App (tombol Open), Isi jika pakai Named Mini App (@bot/app)
MINIAPP_SHORTNAME=app

# FRONTEND/DASHBOARD
NEXT_PUBLIC_API_URL=http://localhost:3001

